@import "materialize";

$Jamberri:#9FBDC6;
$Jamberri_dark:#367588;

body, html {
  height:100%;
}

h4 {
  display: inline-block;
  font-weight:300;
  letter-spacing:10px;
  color:$Jamberri;
}

// gloabl forms
input:focus{
  border-bottom:1px solid $Jamberri !important;
  box-shadow:0 1px 0 0 $Jamberri !important;
}

// nav
nav ul li:hover, nav ul li.active{
  background:none;

}
nav {
  box-shadow:none;
  background:none;
  a{
    color:$Jamberri_dark !important;
    &:hover {
      color:$Jamberri;
    }
  }

  //background:rgba(73, 162, 162, 0.35); Jam color

  .brand-logo {
    text-transform: lowercase;
    padding-top:10px;
    padding-left:15px;
    letter-spacing:10px;
    font-weight:400;
    max-width: 70px;
    &:hover {
      border-bottom:none;
    }
    img {
      margin-right: 15px;
      max-width: 75px;
    }
  }
}

// sign up
.notice,.alert{
  display:none;
}
em {
  color:$Jamberri !important;
}
.jamberri-signup {
  width:100%;
  height:1200px;
  background:url('jam-background.png') center fixed no-repeat;
  background-size:cover;
  .jamberri-signup-inner {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
  }
  .jamberri-signup-form-wrapper {
    position:relative;
    top:100px;
    padding:20px;
    border-radius:4px;
    border:10px solid $Jamberri;
    background:#FFF;
    margin-bottom:150px;
  }
  .btn {
    background:$Jamberri_dark;
  }
  .jamberri-signup-footer {
    text-align:center;
    h4,p {
      margin-bottom:40px;
      color:#FFF;
      text-transform:uppercase;
      letter-spacing: 5px;
      font-weight: 300;
    }
    img {
      max-width: 100px;
    }
  }
}

// parallax
.parallax-container {
  height:425px;
  bottom:80px;
}
.parallax-inner-profile {
  width:100%;
  height:100%;
  background:rgba(255, 255, 255, 0.5);
  padding-left:45px;
  img {
    border:5px solid $Jamberri;
    border-radius: 50%;
  }
}
.parallax-inner{
  position:relative;
  top:340px;
  padding-left:45px;
  padding-top:25px;
  padding-bottom:10px;
  h1 {
    margin:0px;
    font-size:3.3em;
    color:#333;
    text-transform:uppercase;
    font-weight: bold;
    small {
      font-size:0.5em;
      font-weight: lighter;
      text-transform: lowercase;
      color:rgba(255,255,255,0.8);
    }
  }
}

// profile
.profile-content-wrapper {
  position:relative;
  top:200px;
}
.profile-link:first-child {
  color:$Jamberri;
  margin-left:10px;
  font-size:3em;
  text-transform:lowercase;
  letter-spacing:10px;
  font-weight:400;
}
