@import "materialize";

$Jamberri:#9FBDC6;
$Jamberri_dark:#367588;

body, html {
  height:100%;
}

h4 {
  display: inline-block;
  font-weight:300;
  letter-spacing:10px;
  color:$Jamberri;
}

// gloabl forms
input:focus{
  border-bottom:1px solid $Jamberri !important;
  box-shadow:0 1px 0 0 $Jamberri !important;
}
// sign up
.notice,.alert{
  display:none;
}
em {
  color:$Jamberri !important;
}
.jamberri-signup {
  width:100%;
  height:1200px;
  background:url('jam-background.png') center fixed no-repeat;
  background-size:cover;
  .jamberri-signup-inner {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
  }
  .jamberri-signup-form-wrapper {
    position:relative;
    top:100px;
    padding:20px;
    border-radius:4px;
    border:10px solid $Jamberri;
    background:#FFF;
    margin-bottom:150px;
  }
  .btn {
    background:$Jamberri_dark;
  }
  .jamberri-signup-footer {
    text-align:center;
    h4,p {
      margin-bottom:40px;
      color:#FFF;
      text-transform:uppercase;
      letter-spacing: 5px;
      font-weight: 300;
    }
    img {
      max-width: 100px;
    }
  }
}
